<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>[nickname]의 공간</h2>
    <form action="/delete" method="POST">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="password" value="{{password}}">
        <button type="submit">회원탈퇴</button>
    </form>
    <a href="/" method="post">로그아웃</a>
</body>
</html>